.projects {
  background-color: #0d1117;
  color: #fff;
  padding: 5rem 4rem;
  text-align: center;
    position: relative; 
  z-index: 10; 
}

.projects h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.projects p {
  color: #8b949e;
  font-size: 1rem;
  max-width: 700px;
  margin: 0 auto 2.5rem;
  line-height: 1.6;
}


.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-bottom: 3rem;
}

.filter-btn {
  background-color: #161b22;
  color: #c9d1d9;
  border: 1px solid #30363d;
  border-radius: 20px;
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s;
}

.filter-btn:hover {
  color: #960ef1;
  border-color: #960ef1;
}

.filter-btn.active {
  background-color: #238636;
  color: white;
  border-color: #238636;
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  justify-content: center;
  text-align: center;
}


.project-card {
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s, border-color 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  border-color: #960ef1;
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-info {
  padding: 1.5rem;
  text-align: left;
}

.project-info h3 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  color: #f0f6fc;
  text-align: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
  align-content: center;
}

.tags span {
  background-color: #0d1117;
  color: #58a6ff;
  border: 1px solid #30363d;
  border-radius: 12px;
  padding: 0.2rem 0.6rem;
  font-size: 0.8rem;
  justify-content: center;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  justify-content: center;
}

.btn-demo,
.btn-code {
  flex: 1;
  border: none;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-demo {
  background-color: #238636;
  color: #fff;
}

.btn-demo:hover {
  background-color: #2ea043;
}

.btn-code {
  background-color: #161b22;
  color: #58a6ff;
  border: 1px solid #30363d;
}

.btn-code:hover {
  border-color: #58a6ff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background: #0d1117;
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.modal-slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-slider img {
  max-width: 100%;
  max-height: 60vh;
  border-radius: 8px;
}

.slider-btn {
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
}

.slider-btn.prev {
  left: 0.5rem;
}

.slider-btn.next {
  right: 0.5rem;
}

.slider-counter {
  margin-top: 0.5rem;
  color: #c9d1d9;
  font-size: 0.9rem;
}

.modal-close {
  background: #238636;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 0.7rem;
}


@media (max-width: 768px) {
  .projects {
    padding: 3rem 2rem;
  }

  .projects h2 {
    font-size: 2rem;
  }

  .buttons {
    flex-direction: column;
  }

  .btn-demo,
  .btn-code {
    width: 100%;
  }
}
