body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0d1117;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
